test_results
systems
git
project
target
.idea
.idea_modules/
*.ifdeftoif
ifdeftoif_progress.txt
*.tar.bz2
renamings_Functions.txt
renamings_StructsAndVars.txt
console_output.txt
run.sh
*.decluse
*.dbg
*.err
*.pi
*.pi_db
*.time
*.c.xml
