#
# Kbuild ignores
#
*.o
*.o.*
*.a
*.s
*.cmd


#
# Never ignore these
#
!.gitignore

#
# Normal output
#
/busybox
/busybox_unstripped*

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit
*.err
*.dbg
*.pi
*.time
*_ifdeftoif.c
*_orig.c